body {
	height: 300px;
	width: fit-content;
	display: grid;
	grid-template-columns: 300px 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#artwork {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;

	background-color: #000000e0;
}

#artwork img {
	opacity: 1;
	transition: opacity 200ms ease;
}

#artwork img.empty {
	opacity: 0;
}

#info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	text-align: left;

	transition: width 300ms ease;

	background-color: #000000e0;

	box-shadow: 32px 0px #000000e0;

	color: #eee;
	font-family: 'Fira Code', monospace;

	overflow: hidden;

	padding: 0 var(--info-padding);
}

#info div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	width: max-content;

	word-wrap: none;

	white-space: nowrap;

	transform: none;

	transition: opacity 300ms ease, transform 200ms ease;
}

#info.empty {
	padding: 0 !important;
	width: 0 !important;
}

#info div svg {
	height: 100%;
	margin-right: 16px;
}

:root {
	--max-width: 52px;

	--info-padding: 48px;

	--song-icon: 48px;
	--song-size: 44px;

	--album-icon: 36px;
	--album-size: 32px;

	--artist-icon: 36px;
	--artist-size: 32px;
}

#info div .img {
	width: var(--max-width);
}

/* song */

#info .song {
	height: fit-content;
	font-size: var(--song-size);
	font-weight: bold;
}

#info .song .img svg {
	height: var(--song-icon);
}

/* album */

#info .album {
	height: fit-content;
	font-size: var(--album-size);
}

#info .album .img svg {
	height: var(--album-icon);
}

/* artist */

#info .artist {
	height: fit-content;
	font-size: var(--artist-size);
}

#info .artist .img svg {
	height: var(--artist-icon);
}

footer {
	height: fit-content;
	width: 284px !important;
	font-size: 18px;
	font-family: 'Fira Code', monospace;

	position: absolute;
	top: 250px;
	opacity: 1;

	padding: 8px;
	width: fit-content;

	transition: transform 0.3s ease, opacity 0.3s ease;

	text-align: right;
	color: #eee;
}

footer.hidden {
	opacity: 0;
}

/* CSS LOADER */

.load-container {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;

	position: absolute;
	top: 0;
	left: 0;

	width: 300px;
	height: 300px;

	transition: opacity 100ms ease;
}

.load-container.hidden {
	opacity: 0;
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;

	overflow: hidden;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #eee;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
